 <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="user">
        <ion-icon name="musical-notes"></ion-icon>
      <ion-label class="tab-title">Home</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="library">
        <ion-icon  name="ios-filing"></ion-icon>
      <ion-label class="tab-title">My Pod</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="upload">
        <ion-icon  name="search"></ion-icon>
        <ion-label class="tab-title">Upload</ion-label>
      </ion-tab-button>
    <ion-tab-button tab="notifications">
        <ion-icon  name="ios-menu"></ion-icon>
        <ion-label class="tab-title">More</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
