


<ion-header no-border>
    
    <ion-toolbar mode="ios">
        <ion-buttons color="light" slot="start">
            <ion-back-button color="light" defaultHref="app/user"></ion-back-button>
          </ion-buttons>
      <ion-title text-center text-uppercase color="light">
       
        <br>
       <!-- <span text-lowercase class="subT">Rick and Morty</span>  -->
      </ion-title>
     
    
    </ion-toolbar>
    <!-- <ion-toolbar mode="ios">
      <ion-title text-center text-uppercase color="light">Playing Music in Ionic-Capacitor</ion-title>
    </ion-toolbar> -->
  </ion-header>

<ion-content class="fashion-listing-content">


    <div class="fixedContent">
        <ion-thumbnail [ngStyle]="{'background':'url(./assets/sample-images/categories/travel.png)'}"></ion-thumbnail>
      </div>

      <span text-center >
          <app-text-shell  style="font-size: 24px; color:#f4f5f8; font-weight: 500" [data]="'Baptized in fire'"></app-text-shell>
         </span>

        

         <span style="padding: 5px" text-center >
            <app-text-shell style="font-size: 12px; color:#f4f5f8;" [data]="'Created by Pod'"></app-text-shell>
            <app-text-shell style="font-size: 10px; color:#f4f5f8;" [data]="'7 songs'"></app-text-shell>
           </span>


           <div text-center >
              <ion-button size="small">
                  <ion-icon slot="start" name="play"></ion-icon>
                  Play

                </ion-button>

                <ion-button size="small">
                    
                    Follow
  
                  </ion-button>

                  <ion-button size="small">
                    
                      Download
    
                    </ion-button>
              </div>


          


       
           <ion-item class="notification-item" lines="none">
              <ion-row class="notification-item-wrapper">
              
                <ion-col class="details-wrapper">
                  <h2 class="details-name">Astrothunder</h2>
                  <p class="details-description">Travis Scott ■ ASTROWORLD</p>
                </ion-col>
                <ion-col size="2" class="date-wrapper">
                  <h3 class="notification-date">02:03</h3>
                </ion-col>
              </ion-row>
            </ion-item>
     

            <ion-item class="notification-item" lines="none">
                <ion-row class="notification-item-wrapper">
                
                  <ion-col class="details-wrapper">
                    <h2 class="details-name">Astrothunder</h2>
                    <p class="details-description">Travis Scott ■ ASTROWORLD</p>
                  </ion-col>
                  <ion-col size="2" class="date-wrapper">
                    <h3 class="notification-date">02:03</h3>
                  </ion-col>
                </ion-row>
              </ion-item>
     
              

              <ion-item class="notification-item" lines="none">
                  <ion-row class="notification-item-wrapper">
                  
                    <ion-col class="details-wrapper">
                      <h2 class="details-name">Astrothunder</h2>
                      <p class="details-description">Travis Scott ■ ASTROWORLD</p>
                    </ion-col>
                    <ion-col size="2" class="date-wrapper">
                      <h3 class="notification-date">02:03</h3>
                    </ion-col>
                  </ion-row>
                </ion-item>
     
                

                <ion-item class="notification-item" lines="none">
                    <ion-row class="notification-item-wrapper">
                    
                      <ion-col class="details-wrapper">
                        <h2 class="details-name">Astrothunder</h2>
                        <p class="details-description">Travis Scott ■ ASTROWORLD</p>
                      </ion-col>
                      <ion-col size="2" class="date-wrapper">
                        <h3 class="notification-date">02:03</h3>
                      </ion-col>
                    </ion-row>
                  </ion-item>
           

                  <ion-item class="notification-item" lines="none">
                      <ion-row class="notification-item-wrapper">
                      
                        <ion-col class="details-wrapper">
                          <h2 class="details-name">Astrothunder</h2>
                          <p class="details-description">Travis Scott ■ ASTROWORLD</p>
                        </ion-col>
                        <ion-col size="2" class="date-wrapper">
                          <h3 class="notification-date">02:03</h3>
                        </ion-col>
                      </ion-row>
                    </ion-item>
             




                  
</ion-content>
